<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="shadow-lg">
      <div
        class="flex flex-wrap justify-between items-center ml-5 mx-auto px-4 py-2.5"
      >
        <a href="{% url 'index'%}" class="flex items-center">
          <img
            class="h-12 mt-2 mr-3 ml-2"
            src="https://cdn2.iconfinder.com/data/icons/online-marketplace-18/62/marketplace-store-commerce-grocery-shop-512.png"
            alt=""
          />
          <span class="self-center text-xl font-semibold whitespace-nowrap"
            >Digital Marketplace</span
          >
        </a>

        <div class="flex items-center">
          <a
            href="{% url 'dashboard'%}"
            class="mr-6 text-sm font-medium text-grey-700"
          >
            Dashboard</a
          >
          <a
            href="{% url 'sales'%}"
            class="mr-6 text-sm font-medium text-grey-700"
          >
            Sales</a
          >
          <a href="" class="mr-6 text-sm font-medium text-grey-700"> Orders</a>
          <a
            href="{% url 'createproduct'%}"
            class="mr-6 text-sm font-medium text-grey-700"
            >Create Products</a
          >
          <a
            href="{% url 'purchases'%}"
            class="mr-6 text-sm font-medium text-grey-700"
            >My Purchases</a
          >
          <a
            href="{% url 'logout'%}"
            class="mr-6 text-sm font-medium text-grey-700"
          >
            Logout</a
          >
        </div>
      </div>
    </nav>
    {% block body %} {% endblock %}
  </body>
</html>
